<html>
  <head>
    Text File Upload website
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="POST">
      <label for="">Enter your name</label>
      <input type="text" name="name" id="user" />
      <label for="">Enter your username</label>
      <input type="text" name="username" id="user" />
      <label for="">Enter your password</label>
      <input type="password" name="password" />
      <button type="submit">Register now</button>
    </form>
    <p><a href="" target="_blank" rel=""></a></p>
  </body>
</html>
